<div class="main-content">
    {{header-menu}}
    {{search-bar searchAction=(action "search") loading=loading}}
    {{request-path path=searchUrl}}

    {{#if requestStarted}}
      {{log-viewer content=messages maximized=expandLogs}}
    {{/if}}

    {{#if displayResults}}
        <center><small>
                <a href="https://github.com/badges/shields/pull/1028" target="_blank">
                    Status Badges Coming Soon!
                </a>
        </small></center>
        {{#zf-accordion allowAllClosed=true}}
            <h3>Projects</h3>
            {{#each results.projectResults as |project|}}
                {{project-result project=project}}
            {{/each}}
        {{/zf-accordion}}
        <center><small>
            <a href="https://github.com/badges/shields/pull/1028" target="_blank">
                Status Badges Coming Soon!
            </a>
        </small></center>
    {{/if}}
</div>