<div class="main-content">
    {{header-menu}}
    {{search-bar searchAction=(action "search") loading=loading}}
    {{request-path path=searchUrl}}

    {{#each results.projectResults as |project|}}
      {{package-result displayResults=displayResults results=project}}
    {{/each}}

    {{#if displayResults}}
        <center><small>
            <a href="https://github.com/badges/shields/pull/1028" target="_blank">
                Status Badges Coming Soon!
            </a>
        </small></center>
    {{/if}}
    {{#if displayMessage}}
      {{message}}
    {{/if}}
</div>